<div class="container profile">

  <h1 class="header">SIGN-UP</h1>

  <%= form_for(@user) do |f| %>
    <%= f.text_field :fname, :placeholder => "FIRST NAME" %><br>
    <%= f.text_field :lname, :placeholder => "LAST NAME" %><br>
    <%= f.email_field :email, :placeholder => "EMAIL" %><br>
    <%= f.text_field :handle.downcase, :placeholder => "USERNAME" %><br>
    <%= f.password_field :password, :placeholder => "PASSWORD" %><br>
    <%= f.password_field :password_confirmation, :placeholder => "VERIFY PASSWORD" %><br><br>
    <%= f.submit "GET PIK'IN.", class: "btn-submit" %>
  <% end %>
  <br>
  <%= link_to "BACK", "/" %>
</div>
