<div class="container profile">
<% if current_user %>
<h1 class="header"><%= @headers.shuffle.first.upcase %> <%= current_user.fname.upcase %>. </h1>
<h1>username: <%= current_user.handle.upcase %></h1>
<h1>first name: <%= current_user.fname.upcase %></h1>
<h1>last name: <%= current_user.lname.upcase %></h1>
<h1>e-mail: <%= current_user.email.upcase %></h1>
<h1>member since: <%= current_user.created_at.utc.strftime("%D") %></h1>
<% else %>
<h1>Have you signed up yet?</h1>
<% end %>
<%= link_to "BACK", "/" %>
</div>
<% if current_user %>

<% current_user.posts.each do |post| %>

<div class="post_history">

  <div class="profile_options">
  <%= post.options.first.option_text.upcase %>
  <span class="likes"><%= percentage(post.options.first.option_picks.to_i, post.options.second.option_picks.to_i) %>
    %</span>
  </div>
  <div class="profile_options">
    <%= post.options.second.option_text.upcase %>
    <span class="likes"><%= percentage(post.options.second.option_picks.to_i, post.options.first.option_picks.to_i) %>
      %</span>
  </div>
  POSTED ON: <%= post.created_at.utc.strftime("%D") %>
</div>

<% end %>

<% end %>
