<div class="container profile">
<% if current_user %>
<h1 class="header"><%= @headers.shuffle.first.upcase %> <%= current_user.fname.upcase %>. </h1>
<h1>username: <%= current_user.handle.upcase %></h1>
<h1>first name: <%= current_user.fname.upcase %></h1>
<h1>last name: <%= current_user.lname.upcase %></h1>
<h1>e-mail: <%= current_user.email.upcase %></h1>
<h1>member since: <%= current_user.created_at.utc.strftime("%D") %></h1>
<% else %>
<h1>Have you signed up yet?</h1>
<% end %>
<%= link_to "BACK", "/" %>
</div>
