<div class="container">

<div class="logo">
  <span class ="character">p</span>
  <span class ="character">i</span>
  <span class ="character">k</span>
</div>

<%-# Finding all posts that were not created by current_user if current_user exists -%>

<% if current_user %>

<% @available_posts = []

@posts.each do |post|

  if post.user_id == current_user.id or
    current_user.picks.where(:option_id => post.options.first.id).count > 0 or
    current_user.picks.where(:option_id => post.options.second.id).count > 0
  else
    @available_posts << post
  end
end

    %>

    <%= @available_posts.count %>

<% if @available_posts.count == 0 %>

<div class="options_container">

<div class="options">

  YOU'VE REACHED THE END.

</div>
</div>


<span class="new">
  <%= link_to "NEW", new_post_path %>
</span>
<div class="options_container">

<div class="options">

  COME BACK LATER!

</div>
</div>

<% else %>

<% @available_posts.sample(1).each do |post| %>

<div class="options_container">
  <div class="test_likes">
    <%= post.options.first.option_picks %>
  </div>
<div class="options">

  <%= button_to post.options.first.option_text.upcase, picks_path(:id => post.options.first.id,
  :post => post.id) %>

</div>
<div class="test_likes">
</div>
</div>
<span class="new">
  POSTED BY: <%= User.find(post.user_id).handle.upcase %>
</span>
<div class="options_container">
  <div class="test_likes">
    <%= post.options.second.option_picks %>
  </div>
<div class="options">

  <%= button_to post.options.second.option_text.upcase, picks_path(:id => post.options.second.id,
  :post => post.id) %>

</div>
<div class="test_likes">
</div>
</div>


<% end %>

<%-# else finds all posts -%>
<% end %>

<% else %>

<% @posts.all.sample(1).each do |post| %>
<div class="options_container">

<div class="options">

  <%= button_to post.options.first.option_text.upcase, picks_path(:id => post.options.first.id,
  :post => post.id) %>

</div>
</div>
<span class="new">
  POSTED BY: <%= User.find(post.user_id).handle.upcase %>
</span>
<div class="options_container">

<div class="options">

  <%= button_to post.options.second.option_text.upcase, picks_path(:id => post.options.second.id,
  :post => post.id) %>

</div>
</div>

<% end %>
<% end %>

<div class="logo">
  <span class ="character">w</span>
  <span class ="character">o</span>
  <span class ="character">n</span>
</div>

</div>
</div>

<script>

var optionOne = document.getElementsByClassName("options_container")[0]
var optionTwo = document.getElementsByClassName("options_container")[1]
var optionOneLink = document.getElementsByClassName("options")[0]
var optionTwoLink = document.getElementsByClassName("options")[1]
var clicked = false;


function showPercentages(a, b){
if(!clicked){
return function() {
  clicked = true;
  var first = parseInt(document.getElementsByClassName("test_likes")[0].innerHTML) + b;
  var second = parseInt(document.getElementsByClassName("test_likes")[2].innerHTML) + a;

  console.log(first)
  console.log(second)

  var percentageTop = Math.round((parseInt(first) / (parseInt(first) + parseInt(second))) * 100)
  var percentageBottom = Math.round((parseInt(second) / (parseInt(second) + parseInt(first))) * 100)

  console.log(percentageTop)
  console.log(percentageBottom)


  optionOne.className + " testClass"
  optionTwo.className + " testClass"

  optionOne.style.background = "linear-gradient(to right, rgb(94, 94, 92) 0%, rgb(94, 94, 92) "
   + parseInt(percentageTop) + "%, #25acb6 " + parseInt(percentageTop) + "%, #25acb6 100%)";
   optionOne.style.transition = "all .75s ease";
  optionTwo.style.background = "linear-gradient(to right, rgb(94, 94, 92) 0%, rgb(94, 94, 92) "
   + parseInt(percentageBottom) + "%, #25acb6 " + parseInt(percentageBottom) + "%, #25acb6 100%)";
   optionTwo.style.transition = "all .75s ease";

   document.getElementsByClassName("test_likes")[0].innerHTML = percentageTop + "%"
   document.getElementsByClassName("test_likes")[2].innerHTML = percentageBottom + "%"

   document.getElementsByClassName("test_likes")[0].style.display = "block";
   document.getElementsByClassName("test_likes")[1].style.display = "block";
   document.getElementsByClassName("test_likes")[2].style.display = "block";
   document.getElementsByClassName("test_likes")[3].style.display = "block";

}
}
}

optionOneLink.addEventListener("click", showPercentages(0,1))
optionTwoLink.addEventListener("click", showPercentages(1,0))


</script>
