<div class ="container">
  <div class="logo">
    <span class ="character"></span>
    <span class ="character"></span>
    <span class ="character"></span>
  </div>

<%= form_for :test, :html => { :class => "form" } do |f| %>


  <div class="options_new">
    <span class="character_count">
      22
    </span>
    <%= f.text_field :option_text_one, autocomplete: :off %>
  </div>
  <div>
    <%= f.submit "SUBMIT FOR PIKS" %>
    <span class="new">
    <%= link_to "BACK", posts_path %>
    </span>
  </div>

  <div class="options_new">
    <span class="character_count">
      22
    </span>
     <%= f.text_field :option_text_two, autocomplete: :off %>
  </div>

<% end %>
  <div class="logo">
    <span class ="character"></span>
    <span class ="character"></span>
    <span class ="character"></span>
  </div>
</div>
<script>

var firstOption = document.getElementById('test_option_text_one')
var secondOption = document.getElementById('test_option_text_two')

firstOption.addEventListener("keyup",function(){
  document.getElementsByClassName("character_count")[0].innerText = 22 - firstOption.value.length
});
secondOption.addEventListener("keyup",function(){
  document.getElementsByClassName("character_count")[1].innerText = 22 - secondOption.value.length
});

</script>
