<div class ="container">
  <div class="logo">
    <span class ="character"></span>
    <span class ="character"></span>
    <span class ="character"></span>
  </div>

<%= form_for :test, :html => { :class => "form" } do |f| %>


  <div class="options_new">
    <%= f.text_field :option_text_one, autocomplete: :off %>
  </div>
  <div>
    <%= f.submit "SUBMIT FOR PIKS" %>
    <span class="new">
    <%= link_to "BACK", posts_path %>
    </span>
  </div>

  <div class="options_new">
     <%= f.text_field :option_text_two, autocomplete: :off %>
  </div>

<% end %>
  <div class="logo">
    <span class ="character"></span>
    <span class ="character"></span>
    <span class ="character"></span>
  </div>
</div>
