<!DOCTYPE html>
<html>
<head>
  <title>pikwon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
  <meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>
  <header class="logout">
  <% if current_user %>
<ul>
  <li><%= link_to current_user.handle.upcase, user_path(:id => current_user.id) %> <span class="primary">|</span></li>
  <li>
    <%= link_to "NEW", new_post_path %> <span class="primary">|</span>
  </li>
  <li><%= link_to "Log out".upcase, logout_path, method: "delete" %></li>
</ul>
  <% else %>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.text_field :handle.downcase, :placeholder => "Username".upcase %>
      <%= f.password_field :password, :placeholder => "Password".upcase %>
      <%= f.submit "Log in".upcase, class: "btn-submit" %>
      <%= link_to "Sign-up".upcase, new_user_path %> <h3 style="display:inline;">|</h3>
      <%= link_to "FORGOT PASSWORD", new_password_reset_path %>
    <% end %>
<% end %>
</header>

<%= yield %>
<!-- <footer class='footer'>
  Copyright &copy; 2015 Chris Garvin <br>
</footer> -->
</body>
</html>
